doctype html
html
  head
    title Explore
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Weather & Tourist Places in #{weather.name}
    p Temperature: #{weather.main.temp} °C
    p Condition: #{weather.weather[0].description}
    ul
      each place in places
        li
          h2= place.venue.name
          p= place.venue.location.address
          if place.venue.categories.length
            p Category: #{place.venue.categories[0].name}
          if place.venue.rating
            p Rating: #{place.venue.rating}

    